@use './variables' as *;
@use './hamburgers.scss' as *;
@use './mixins' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
	--nav-height: 0;
}

body {
	background-color: $white;
	color: $black;
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1300px;
}

.section {
	padding: 10rem 2rem;
}

.section-title {
	@include text(inherit, 3.6rem, $fw-normal, center, 0 0 4rem);
	text-transform: uppercase;
}

.body-sticky {
	overflow: hidden;
}

.body-shadow-active {
	position: fixed;
	inset: 0;
	background-color: rgba($color: #000000, $alpha: 0.5);
	z-index: 25;
}

// NAV

.hamburger {
	margin: auto -10px auto auto;
}

.nav {
	position: fixed;
	inset: 0 0 auto 0;
	padding: 3rem 1.5rem;
	background-color: $white;
	z-index: 10;

	.wrapper {
		@include flex(row, flex-start);
	}

	&::after {
		@include pseudoelement($white);
	}

	&__icon {
		@include icon($dark-grey, 3rem);
	}

	&__brand {
		@include flex(row, flex-start);
		gap: 0.5rem;
		z-index: 10;

		&-name {
			font-size: 3rem;
		}
	}

	&__items {
		position: fixed;
		inset: 0 0 auto 0;
		margin-top: var(--nav-height);
		background-color: $white;
		list-style: none;
		transform: translateY(-102%);
		transition: transform 0.3s;
		z-index: -20;
	}

	&__item {
		position: relative;
		margin-bottom: 2rem;

		&:first-of-type {
			margin-top: 2rem;
		}

		a {
			@include text($black, 1.6rem);
			position: relative;
			padding: 1rem 2rem;
			text-decoration: none;
			z-index: 5;

			&::after {
				@include pseudoelement($black);
				width: 3px;
				inset: 0 auto 0 7px;
				transform: scaleY(0);
				pointer-events: none;
				transition: transform 0.3s;
				z-index: 0;
			}

			&:hover::after {
				transform: scaleY(0.8);
			}
		}
	}
}

.nav-active {
	transform: translateY(0);
}

// HEADER

.header {
	position: relative;
	@include flex(row, flex-start);
	padding: 20rem 2rem;
	margin-top: var(--nav-height);
	background: center 70% / cover url('../../dist/img/header-small.jpg');
	color: $white;
	z-index: -2;

	&::before {
		@include pseudoelement();
	}

	.wrapper {
		@include flex(column, center, flex-start);
		z-index: 5;
	}

	&__heading {
		@include text(inherit, 2.4rem, $fw-normal);
	}

	&__text {
		@include text(inherit, 3.2rem, $fw-bold);
	}
}

// ABOUT-US

.about-us {
	.wrapper {
		@include grid();
	}

	&__img, &__heading, &__text {
		grid-column: 1 / -1;
	}

	&__img {
		width: 100%;
	}

	&__heading {
		@include text(inherit, 2.4rem, $fw-bold, center, 2rem 0 1rem);
	}

	&__text {
		@include text(inherit, 1.6rem, $fw-normal, justify);
		line-height: 1.7;

		a {
			color: $black;
			text-decoration: none;
		}
	}
}

// ENCOURAGEMENT

.encouragement {
	position: relative;
	@include flex();
	background: center / cover url('../../dist/img/girl-small.jpg');
	z-index: -2;

	&__text {
		@include text($white, 3.2rem, $fw-bold, center);
		padding: 2rem 6rem;
		border: 1px solid $white;
	}

	&::before {
		@include pseudoelement(rgba(0, 5, 0, 0.6));
	}
}

//OFFERS

.offers {
	@include flex(column, flex-start, center);

	&__text {
		@include text(inherit, 2.2rem, inherit, center);

		&--first {
			margin-bottom: 4rem;
		}

		&--second {
			margin-top: 4rem;

			a {
				position: relative;
				color: $black;
				text-decoration: none;
				transition: color 0.3s;

				&::after {
					@include pseudoelement($green);
					height: 105%;
					transform: scaleY(0.1);
					transition: transform 0.3s;
					transform-origin: bottom;
				}

				&:hover::after {
					transform: scaleY(1);
				}
			}
		}
	}

	&__cards {
		@include grid();
		row-gap: 3rem;
	}

	&__card {
		@include flex(column, flex-start, center);
		padding: 4rem;
		place-items: center;
		background-color: $white;
		border-radius: 0.8rem;
		box-shadow: 0 3px 10px $light-grey;
		grid-column: 1 / -1;
	}

	&__heading {
		@include text(inherit, 2.8rem, inherit, inherit, 0 0 1rem 0);
	}

	&__price {
		@include text(inherit, 4rem, $fw-bold, inherit, 0 0 1rem 0);
	}

	&__option {
		@include text(inherit, 1.8rem, inherit, inherit, 0 0 0.3rem 0);

		&--excluded {
			color: $light-grey;
		}
	}

	&__icon {
		@include icon(inherit, 1.2rem, 0 .5rem 0 0);

		&--included {
			color: $green;
		}

		&--excluded {
			color: $light-grey;
		}
	}

	&__btn {
		@include btn(1rem 4rem, 2rem 0 0 0, 1.8rem);
	}
}

// SITEMAP

.sitemap {
	&__brand {
		@include flex();
		margin-bottom: 4rem;
	}

	&__icon {
		@include icon($dark-grey, 4rem, 0 1rem 0 0);
		margin-right: 1rem;
		color: $dark-grey;
		font-size: 4rem;
	}

	&__brand-name {
		@include text(inherit, 4rem);
	}

	&__column {
		@include flex(column, flex-start, center);
	}

	&__first-heading {
		&:first-of-type {
			margin-top: 0;
		}
	}

	&__heading {
		@include text(inherit, 2.4rem, $fw-bold, inherit, 2.4rem 0 1.2rem);
	}

	&__list {
		list-style: none;
		text-align: center;
	}

	&__list-item {
		margin-bottom: 0.6rem;
	}

	&__link {
		@include text($grey, 1.6rem);
		text-decoration: none;
	}
}

// FOOTER

.footer {
	background-color: $light-white;

	&__text {
		@include text($grey, 1.4rem, inherit, center);
		padding: 3rem 0;
		border-top: 1px solid $light-grey;
	}
}

// CONTACT

.contact {
	.wrapper {
		@include flex(column, flex-start, center);
	}

	&__box {
		@include flex(column, flex-start, center);
		padding: 2rem;
		width: 100%;
	}

	&__icon {
		@include icon(inherit, 3.6rem, 0 0 2rem);
	}

	&__form-box {
		width: 100%;
		max-width: 600px;

		&.error input,
		&.error textarea {
			border: 1px solid $dark-green;
			background-color: rgba($color: $dark-green, $alpha: 0.1);
		}

		&.error .contact__error-info {
			visibility: visible;
		}
	}

	&__input,
	&__textarea {
		@include text(inherit, 1.4rem, inherit, inherit, 0 0 0.6rem 0);
		font-family: 'Raleway', sans-serif;
		padding: 0.6rem 1.2rem;
		width: 100%;
		max-width: 600px;
		border: 1px solid $grey;
		border-radius: 0.5rem;
	}

	&__textarea {
		height: 150px;
		resize: vertical;
	}

	&__error-info {
		@include text($dark-green, 1.2rem, inherit, inherit, 0 0 1.2rem 1.2rem);
		visibility: hidden;
	}

	&__btn {
		@include btn(1rem 4rem, 2rem 0 8rem, 1.6rem);
	}

	&__popup {
		position: fixed;
		@include flex(column, flex-start, center);
		top: -25%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 2rem 8rem;
		background-color: $white;
		border: 1px solid $black;
		border-radius: 0.8rem;
		text-align: center;
		z-index: 50;
		transition: top 0.3s;
	}

	&__popup.show-popup {
		top: 25%;
	}

	&__popup-info {
		@include text(inherit, 2rem, inherit, inherit, 0 0 3rem 0);
	}

	&__popup-btn {
		@include btn(1rem 2rem, 0, 1.4rem);
	}

	&__map {
		height: 400px;
		max-width: 600px;
		width: 100%;
	}
}

// MEDIA QUERIES

@media (min-width: 576px) {
	.header {
		&__heading {
			font-size: 2.6rem;
		}

		&__text {
			font-size: 3.6rem;
		}
	}

	.contact {
		&__popup-info {
			font-size: 2.2rem;
		}

		&__popup-btn {
			font-size: 1.6rem;
		}
	}

	.about-us {
		.wrapper {
			padding: 0 4rem;
		}
	}
}

@media (min-width: 650px) {
	.header {
		background-image: url('../../dist/img/header-medium.jpg');
	}
}

@media (min-width: 768px) {
	.section-title {
		font-size: 4rem;
	}

	.header {
		&__heading {
			font-size: 2.8rem;
		}

		&__text {
			font-size: 4rem;
		}
	}

	.about-us {
		.wrapper {
			padding: 0 6rem;
		}
	}

	.encouragement {
		background-image: url('../../dist/img/girl-medium.jpg');

		&__text {
			padding: 3rem 8rem;
			font-size: 3.8rem;
		}
	}

	.offers {
		&__heading {
			font-size: 3rem;
		}

		&__price {
			font-size: 4.2rem;
		}

		&__icon {
			font-size: 1.4rem;
		}
	}

	.sitemap {
		.wrapper {
			@include flex(row, space-around, flex-start);
		}

		&__icon,
		&__brand-name {
			font-size: 4.4rem;
		}

		&__content {
			@include flex(row, flex-start, flex-start);
		}

		&__column {
			align-items: flex-start;
			margin: 0 2rem;

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}

		&__heading {
			@include text(inherit, 2.6rem, $fw-bold, inherit, 0 0 2.4rem);
		}

		&__list {
			text-align: left;
		}

		&__list-item {
			@include text(inherit, 1.8rem, inherit, inherit, 0 0 1.6rem);

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.footer {
		&__text {
			font-size: 1.6rem;
		}
	}

	.contact {
		&__icon {
			font-size: 3.8rem;
		}
	}
}

@media (min-width: 868px) {
	.offers {
		&__cards {
			column-gap: 3rem;
		}
		&__card {
			&--first {
				grid-column: 1 / span 6;
			}

			&--second {
				grid-column: 7 / span 6;
			}

			&--third {
				grid-column: 4 / span 6;
			}
		}
	}
}

@media (min-width: 992px) {
	.section-title {
		font-size: 4.4rem;
	}

	.nav {
		.wrapper {
			position: relative;
			z-index: -5;
		}

		.hamburger {
			display: none;
		}

		&__icon,
		&__brand-name {
			font-size: 3.6rem;
		}

		&::after {
			content: none;
		}

		&__items {
			position: absolute;
			inset: 0;
			@include flex(row, flex-end, center);
			margin: 0;
			padding-right: 2rem;
			font-size: 0;
			transform: translateY(0);
		}

		&__item {
			@include text(inherit, inherit, inherit, center, 0);

			&:first-of-type {
				margin: 0;
			}

			a {
				@include text($black, 1.8rem);
				position: static;
				padding: 2rem 4rem;
				text-decoration: none;
				line-height: var(--nav-height);
				transition: color 0.3s;

				&::after {
					content: none;
				}

				&::before {
					@include pseudoelement(inherit);
					transition: background-color 0.3s;
				}

				&:hover {
					color: $white;
				}

				&:hover::before {
					background-color: $black;
				}
			}
		}
	}

	.header {
		&__text {
			font-size: 4.4rem;
		}
	}

	.about-us {
		.wrapper {
			@include grid();
			grid-template-rows: repeat(12, 1fr);
			column-gap: 3rem;
			padding: 0;
		}

		&__img {
			width: 100%;
			grid-column: 1 / span 5;
			grid-row: 1 / -1;
		}

		&__heading {
			@include text(inherit, 2.6rem, $fw-bold, left, 0 0 1rem);
			grid-column: 6 / span 7;
			grid-row: 1 / 3;
		}

		&__text {
			@include text(inherit, 1.8rem, inherit, left);
			grid-column: 6 / span 7;
			grid-row: 3 / -1;

			a {
				color: $black;
				text-decoration: none;
			}
		}
	}

	.encouragement {
		&__text {
			padding: 4rem 12rem;
			font-size: 4.4rem;
		}
	}

	.offers {
		&__text {
			font-size: 2.4rem;
		}

		&__heading {
			font-size: 3.2rem;
		}

		&__price {
			font-size: 4.4rem;
		}

		&__option,
		&__btn {
			font-size: 2rem;
		}

		&__icon {
			font-size: 1.6rem;
		}
	}

	.sitemap {
		&__icon,
		&__brand-name {
			font-size: 4.8rem;
		}

		&__column {
			margin: 0 3rem;
		}
	}

	.contact {
		.wrapper {
			@include grid();
			column-gap: 2rem;
		}

		&__box {
			grid-column: span 6;
		}

		&__input,
		&__textarea {
			font-size: 1.6rem;
		}

		&__textarea {
			max-height: 300px;
		}

		&__error-info {
			font-size: 1.4rem;
		}

		&__btn {
			font-size: 1.8rem;
			margin: 3rem 0 0 0;
		}

		&__popup-info {
			font-size: 2.4rem;
		}

		&__popup-btn {
			font-size: 1.8rem;
		}

		&__map {
			height: 450px;
			max-width: none;
			grid-column: span 6;
		}
	}
}

@media (min-width: 1120px) {
	.offers {
		&__card {
			&--first {
				grid-column: 1 / span 4;
			}

			&--second {
				grid-column: 5 / span 4;
			}

			&--third {
				grid-column: 9 / span 4;
			}
		}
	}
}

@media (min-width: 1200px) {
	.about-us {
		&__heading {
			font-size: 2.8rem;
		}

		&__text {
			font-size: 2rem;
		}
	}

	.contact {
		&__box {
			grid-column: span 5;
		}

		&__map {
			grid-column: span 7;
		}
	}
}

@media (min-width: 1250px) {
	.header {
		background-image: url('../../dist/img/header-big.jpg');
	}

	.encouragement {
		background-image: url('../../dist/img/girl-big.jpg');
	}
}

@media (min-width: 1400px) {
	.about-us {
		&__heading {
			font-size: 3rem;
		}

		&__text {
			font-size: 2rem;
		}
	}

	.contact {
		&__box {
			grid-column: span 4;
		}

		&__map {
			height: 500px;
			grid-column: span 8;
		}
	}
}
